.person{
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 600px;
    display: flex;
}

.imagediv{
     display: flex;
     height: fit-content;
}

.image{
    width: 150px;
    height: 150px;
    margin-top: 14px;
    border-radius: 15px;

}

.persondesc{
    margin-left: 10px;
}

.name{
    font-weight: bold;
}

.line{
    color: grey;
    font-size: small;
    text-transform: uppercase;
}

.description{
    font-size: small;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arrow{
    width: 40px;
    margin-bottom: 0;
    margin-top: 150px;
    margin-right: -10px;
}

.search{
    
}