@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    animation: fadeIn 1s
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

img {
    width: 100vw;
    height:100%;
    padding-bottom: 5px;
}

h1{
    text-align: center;
    font-family: "Roboto Mono", serif;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: grey
}


h4{
    text-align: right;
    font-family: "Roboto Mono", serif;
    color: grey;
    margin-right: 15px;
    margin-top: -15px;
    margin-bottom: 5px;
}

Article{
    margin: 30px;
    text-align: center;
}

.geography{
    display:flex;
    margin: 15px;
}

.geography img {
    margin-left: 50px;
    width: 50%;
    height: 50%;
}

.geography section{
    display: block;
    text-align: left;
    margin-left: 200px;
    margin-top: 5px;
}

.geography section p {
    text-align: center;
    margin: 5px;
    color: red;
}

caption{
    display: block;
    text-align: right;
    margin-right: 300px;
    color: grey;
    
}

.Image1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

.Image1 img{
    margin: 5px;
}

.PhotoGridTitle{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .geography{
        display: block;
        text-align: center;
    }
    .geography img{
        width: 80%;
    }
    .geography section{
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 50px
    }
    caption{
        display: block;
        text-align: right;
        color: grey;
        margin-right: 15px;
}

}

